extends layout
block content
  h1= title
  form(method="post", action="")
    .form-group
      label(for='book') 书:
      select#book.form-control(type='select', placeholder='请选择一本书', name='book', required='true', value=(bookInstance&&bookInstance.book||''))
        for book in books
          option(value=book._id)= book.title
    .form-group
      label(for="imprint") 版本说明:
      input#imprint.form-control(type="text", placeholder="版本说明", name="imprint", required="true", value=(bookInstane&&bookInstance.imprint||''))
    .form-group
      lable(for="due_back") 预约时间:
      input#due_back.form-control(type="date", placeholder='预约时间', name="due_back", required='true', value=(bookInstane&&bookInstance.due_back|| ''))
    .form-group
      label(for='status') 状态:
      select#status.form-control(type='select', placeholder='状态', name='status', required='true', value=(bookInstance&&bookInstance.status||''))
        for statu in status
          option(value=statu)= statu
    
    
    button.btn.btn-primary(type="submit") 提交

  if errors
    ul
      for error in errors
        li!= JSON.stringify(error)
